<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FACTURAS.WEB</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FACTURAS.WEB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Kendo/kendo.blueopal.min.css" />
    <link rel="stylesheet" href="~/css/Kendo/kendo.common.min.css" />
    <link rel="stylesheet" href="~/css/Kendo/kendo.custom.css" />
    <link rel="stylesheet" href="~/css/Kendo/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="~/css/EstilosKendoMultiSelect.css" />

    <script src="~/js/jquery/jquery-1.10.2.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/js/jQuery/jquery-ui-1.10.4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Kendo/kendo.all.min.js"></script>
    <script src="~/js/Kendo/kendo.culture.es-ES.js"></script>
    <script src="~/js/Kendo/kendo.messages.es-ES.min.js"></script>
 
    @await RenderSectionAsync("Scripts", required: false)

</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-info flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Facturas Web</a>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-dark" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">
                                Listado De Facturas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    Crear Factura
                                </a>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">@ViewData["Title"]</h1>
                </div>
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
